@charset "utf-8";

/* fonts pretendard */
/* @import url(../../common/fonts.css); */

/* 공통 스타일 css */
@import url(../../index/common.css);

body {
  background-color: #f2ede4;
  color: #333;
  font-family: var(--ko-font-pr);
}

/***** 공통 css *****/
.layout-wrapper {
  width: 80%;
  margin: 0px auto;

  padding: 20px;
}
.flex {
  display: flex;
}
.half-highlight {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 50%,
    #77c9ff8a 50%
  );
}
.line {
  border-bottom: 1px solid #929292;
}

/***** 홈버튼 *****/
header {
  width: 100%;
}

header .home_btn {
  width: 5.35vw;
  text-transform: uppercase;
  font-weight: bold;

  position: absolute;
  right: 2%;
  top: 2%;
}

header .home_btn span {
  text-align: center;
  background-color: #1f2353;
  color: #fff;
  height: 2.35vw;

  line-height: 2.35vw;
  display: block;
}
header .home_btn span a {
  display: block;
}
header .home_btn span:hover {
  background: transparent;
  color: #1f2353;
  box-shadow: -7px -7px 20px 0px #2221, -4px -4px 5px 0px #2221,
    7px 7px 20px 0px #2221, 4px 4px 5px 0px #2221;
}
header .home_btn span:before,
header .home_btn span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;

  background-color: #1f2353;
  transition: 400ms ease all;
}
header .home_btn span:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
header .home_btn span:hover:before,
header .home_btn span:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/***** main *****/
.mainpage {
  width: 100%;
  height: 80vh;
  color: #343434;
}
.mainpage .main_intro {
  margin-top: 10vw;
  justify-content: space-between;
  align-items: center;
}
.mainpage .main_intro .main_intro_txt h1 {
  font-size: 3vw;
  font-weight: 700;
}
.mainpage .main_intro .main_intro_txt h2 {
  font-size: 1.5vw;
  margin-top: 1vw;
}
.mainpage .main_intro .main_intro_txt h3 {
  margin-top: 7vw;
  font-size: 3vw;
  font-weight: 700;
}
.mainpage .main_intro .main_intro_txt p {
  font-size: 1vw;
  margin-top: 2vw;
  line-height: 2;
}
.mainpage .main_intro .main_intro_img {
  margin-top: 5vw;
  width: 45%;

  position: relative;

  animation: fadeInUp 1s;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.mainpage .main_intro .main_intro_img .mobile {
  width: 161px;
  height: 317px;

  position: absolute;
  top: 21%;
  left: -17%;
}
.mainpage .main_intro .main_intro_img .pc {
  width: 29.95vw;
  height: 19.85vw;
}
.mainpage .main_intro .main_intro_img .tablet {
  width: 20.5vw;
  height: 15.65vw;

  position: absolute;
  right: -18%;
  top: 30%;
}

/***** 프로젝트 목표 *****/
.project {
  width: 100%;
  height: 30vh;
}
.project .project_intro {
  margin-top: 5vw;
  justify-content: space-between;
  align-items: flex-start;
}
.project h1 {
  color: #1f2353;
  font-size: 2.25vw;
  font-weight: 700;
}

.project .project_txt p {
  font-size: 1.05vw;
}
.project .project_txt p:last-child {
  margin-top: 2vw;
}

/***** 스타일 가이드 *****/
.style {
  width: 100%;
  height: 50vh;
}
.style .style_intro {
  margin-top: 5vw;
}
.style .style_intro h1 {
  color: #1f2353;
  font-size: 2.25vw;
  font-weight: 700;
  margin-bottom: 2.5vw;
}
.style .style_txt {
  margin-top: 5vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.style .style_txt ul .bold {
  font-weight: bold;
  font-size: 1.5vw;
  margin-bottom: 2.5vw;
}
.style .style_txt .txt_size {
  font-size: 1.2vw;
  font-weight: 500;
}
.style .style_txt .color_tag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1vw;
  margin-top: 1vw;
}

/***** 퍼블리싱 *****/
.publishing {
  width: 100%;
  height: 70vh;
}
.publishing .publishing_intro {
  margin-top: 5vw;
  justify-content: space-between;
  align-items: flex-start;
}
.publishing .publishing_intro h1 {
  color: #1f2353;
  font-size: 2.25vw;
  font-weight: 700;
}
.publishing .publishing_txt {
  width: 41%;
}
.publishing .publishing_txt h3 {
  font-size: 1.2vw;
  font-weight: bold;
  margin-bottom: 1vw;
}
.publishing .publishing_txt p {
  font-size: 1vw;
  line-height: 1.5;
  margin-left: 1vw;
}
.publishing .publishing_txt .webpage {
  margin: 5vw 0;
}

/***** 문제점&해결 *****/
.problem {
  width: 100%;
  height: 95vh;

  position: relative;
}
.problem .problem_intro {
  margin-top: 5vw;
  justify-content: space-between;
  align-items: flex-start;
}
.problem .problem_intro h1 {
  color: #1f2353;
  font-size: 2.25vw;
  font-weight: 700;
}
.problem .problem_txt {
  width: 41%;
  padding-top: 0.2vw;
}
.problem .problem_txt .green {
  margin: 5vw 0;
}
.problem .problem_txt h3 {
  font-size: 1.2vw;
  font-weight: bold;
  margin-bottom: 1vw;
}
.problem .problem_txt p {
  font-size: 1vw;
  margin-left: 1vw;
}

/***** footer btn *****/

.problem .footer_btn {
  width: 9vw;

  text-transform: uppercase;
  font-weight: bold;

  position: absolute;
  right: 33%;
  bottom: 15%;
}
.problem .footer_btn span {
  text-align: center;
  background-color: #1f2353;
  color: #fff;
  height: 2.35vw;

  line-height: 2.35vw;
  display: block;
}
.problem .footer_btn span a {
  display: block;
}

.problem .footer_btn span:hover {
  background: transparent;

  color: #1f2353;
  box-shadow: -7px -7px 20px 0px #2221, -4px -4px 5px 0px #2221,
    7px 7px 20px 0px #2221, 4px 4px 5px 0px #2221;
}

.problem .footer_btn span:before,
.problem .footer_btn span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;

  background-color: #1f2353;
  transition: 400ms ease all;
}

.problem .footer_btn span:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.problem .footer_btn span:hover:before,
.problem .footer_btn span:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/*** top_btn ***/
.top_btn {
  width: 2vw;
  height: 2vw;
  background-color: #1f2353;
  border-radius: 50%;

  position: fixed;
  bottom: 2%;
  right: 1%;
}
.top_btn a svg {
  fill: #f2ede4;
}
