@charset "utf-8";

@import url(../../index/common.css);

body {
    background-color: #F2EDE4;
    color: #575F50;
    font-family: var(--en-font);
    
  }
.layout-wrapper {
    width: 90%;
    margin: 0px auto;
  
    padding: 20px;
  }
.flex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }


/***** 홈버튼 *****/
header{
    width: 100%;
}

header .home_btn  {
    width: 5.35vw;
    text-transform: uppercase;
    font-weight: bold;

    position: absolute;
    right: 2%;
    top: 2%;
  }
  
header .home_btn span {
    text-align: center;
    background-color: #7F9E67;
    color: #fff;
    height: 2.35vw;
  
    line-height: 2.35vw;
    display: block;
  }
header .home_btn span a{
    display: block;
  }
  
header .home_btn span:hover {
    background: transparent;
    color: #7F9E67;
    box-shadow: -7px -7px 20px 0px #2221, -4px -4px 5px 0px #2221,
      7px 7px 20px 0px #2221, 4px 4px 5px 0px #2221;
  }
  
header .home_btn span:before,
header .home_btn span:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background-color: #7F9E67;
    transition: 400ms ease all;
  }
  
header .home_btn span:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
header .home_btn span:hover:before,
header .home_btn span:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }


/***** main *****/
.mainpage{
    width: 100%;
    height: 80vh;
    border-bottom: 1px solid #7F9E67;
    color: 575F50;
  }
.mainpage .main_intro{
    margin-top: 10vw;
    justify-content: space-between;
    align-items: center;
}
.mainpage .main_intro .main_intro_txt h1{
    font-size: 3vw;
    font-weight: bold;
}
.mainpage .main_intro .main_intro_txt h2{
    font-size: 1.5vw;
    margin-top: 1vw;
}
.mainpage .main_intro .main_intro_txt h3{
    margin-top: 7vw;
    font-size: 3vw;
    font-weight: bold;
}
.mainpage .main_intro .main_intro_txt p{
    font-size: 1vw;
    margin-top: 2vw;
    line-height: 2;
}
.mainpage .main_intro .main_intro_img{
    width:45%;

    position: relative;

    animation: fadeInUp 1s;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.mainpage .main_intro .main_intro_img .mobile{
    width: 175px;
    height: 349px;

    position: absolute;
    top:15%;
    left: -17%; 
}
.mainpage .main_intro .main_intro_img .pc{
    width: 464px;
    height: 319px;
}
.mainpage .main_intro .main_intro_img .tablet{
    width: 426px;
    height: 313px;

    position: absolute;
    right: 2%;
    top: 25%;
}


/***** 프로젝트 목표 *****/
.project{
    width: 100%;
    height: 40vh;
    border-bottom: 1px solid #7F9E67;
  }
.project .project_intro{
    margin-top: 5vw;
    justify-content: space-between;
    align-items: flex-start;
  }
.project h1{
    color: #7F9E67;
    font-size: 2.25vw;
    font-weight: bold;
  }

.project .project_txt p{
    font-size: 1.09vw;
  
  }
.project .project_txt p:last-child{
    margin-top: 2vw;
  }


/***** 스타일 가이드 *****/
.style{
    width: 100%;
    height: 50vh;
    border-bottom: 1px solid #7F9E67;
  }
.style .style_intro{
    margin-top: 5vw;
  }
  .style .style_intro h1{
    color: #7F9E67;
    font-size: 2.25vw;
    font-weight: 600;
    font-family: var(--main-font);
    margin-bottom: 50px;
  }
.style .style_txt{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.style .style_txt ul .bold{
    font-weight: bold;
    font-size: 1.5vw;
    margin-bottom: 50px;
  }
.style .style_txt .txt_size{
   font-size: 1.2vw;
   font-weight: 500; 
  }
.style .style_txt .color_tag{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1vw;
    margin-top: 1vw;
  }


/***** 퍼블리싱 *****/
.publishing{
    width: 100%;
    height: 70vh;
    border-bottom: 1px solid #7F9E67;
}
.publishing .publishing_intro {
    margin-top: 5vw;
    justify-content: space-between;
    align-items: flex-start;
}
.publishing .publishing_intro h1{
    color: #7F9E67;
    font-size: 2.25vw;
    font-weight: 600;
    font-family: var(--main-font);
}
.publishing .publishing_txt{
    /* margin-right: 7vw; */
    width: 41%;
}
.publishing .publishing_txt h3{
    font-size: 1.2vw;
    font-weight: bold;
    margin-bottom: 1vw;
}
.publishing .publishing_txt p{
    font-size: 1.09vw;
    line-height: 1.5;
}
.publishing .publishing_txt .webpage{
    margin: 5vw 0;
}
.publishing .publishing_txt .half-highlight{
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 50%);
}


/***** 문제점&해결 *****/
.problem{ 
    width: 100%;
    height: 75vh;
    /* border-bottom: 1px solid #7F9E67; */
}
.problem .problem_intro{
    margin-top: 5vw;
    justify-content: space-between;
    align-items: flex-start;
}
.problem .problem_intro h1{
    color: #7F9E67;
    font-size: 2.25vw;
    font-weight: 600;
    font-family: var(--main-font);
}
.problem .problem_intro h1 span{
    font-family: var(--ko-font);
    font-weight: 100;
}
.problem .problem_txt{
    width: 41%;
}
.problem .problem_txt .green{
    margin: 5vw 0;
}
.problem .problem_txt h3{
    font-size: 1.2vw;
    font-weight: bold;
    margin-bottom: 1vw;
}
.problem .problem_txt p{
    font-size: 1.09vw;
}


/***** footer btn *****/
footer{
    width: 100%;
    height: 10vw;
    position: relative;
  }
footer .footer_btn  {
    width: 5.95vw;
    text-transform: uppercase;
    font-weight: bold;
  
    position: absolute;
    right: 5%;
    bottom: 10%;
  }
footer .footer_btn span {
    text-align: center;
    background-color: #7F9E67;
    color: #fff;
    height: 2.35vw;
  
    line-height: 2.35vw;
    display: block;
  }
footer .footer_btn span a{
    display: block;
  }
  
footer .footer_btn span:hover {
    background: transparent;
    color: #7F9E67;
    box-shadow: -7px -7px 20px 0px #2221, -4px -4px 5px 0px #2221,
      7px 7px 20px 0px #2221, 4px 4px 5px 0px #2221;
  }
  
footer .footer_btn span:before,
footer .footer_btn span:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background-color: #7F9E67;
    transition: 400ms ease all;
  }
  
footer .footer_btn span:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
footer .footer_btn span:hover:before,
footer .footer_btn span:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }