@charset 'utf-8';

/* fonts */
@import url(../common/fonts.css);

/***** 공통 css *****/
body{
    font-family: 'Noto Sans KR', sans-serif;
}
.flex{
    display: flex;
}


/***** header *****/
header{
    width: 100%;
    font-size: 1vw;
    /* height: 20vh; 자바스크립트에서 너비 조절*/
    background-color: #fff;

    position: fixed;
    top: 0;
    left: 0;
  
    display: flex; /* 세로 가운데 정렬을 위해 Flexbox 사용 */
    align-items: center; /* 세로 가운데 정렬 */
   
    transition: all 0.3s ease;

    z-index: 50; 
}
header .header_wrapper{
    margin: 0 auto;

    /* line-height: 16vh; 자바스크립트에서 너비 조절*/
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
header h1{
    background: url(./images/logo.png) no-repeat 50% / contain;
    width: 9vw;
    height: 20vh;
    text-indent: -9999px;
}
header .header_wrapper .menu_nav li{
    margin-right: 8vh;
}
header .header_wrapper .menu_nav li:hover{
    font-weight: bold;
}
header .header_wrapper .menu_nav .new a{
    background-color: #333;
    color: #fff;
    padding: 0.7vw 1.8vw;
    border-radius: 2vw;
}


/***** main  *****/
.main{
    margin-top: 17vh;
    width: 85%;
    height: 98vh;

    float: right; 
}
.main .bg_video{
    width: 100%;
    height: 88vh;
}

/* 왼쪽 위아래 gif 영역 */
.main .bg_video .video_left{
    width: 50%;
}
/* 왼쪽 위 gif */
.main .bg_video .video_left .left1{
    height: 50%;
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./images/main_video1.gif) no-repeat 50% / cover;

    text-indent: -9999px;
}
/* 왼쪽 아래 gif */
.main .bg_video .video_left .left2{
   height: 50%;
   background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./images/main_video2.gif) no-repeat 50% / cover;
   background-blend-mode : multiply;
   text-indent: -9999px;
}
/* 오른쪽 gif */
.main .bg_video .video_right{
    width: 50%;
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./images/main_video3.gif) no-repeat 50% / cover;
    background-blend-mode : multiply;
    text-indent: -9999px;
}
/* 백그라운드 gif 위에 글씨 */
.main .video_txt{
    font-family: 'Hahmlet-Regular';

    position: absolute;
    top: 50%;
    left: 18%;
}
.main .video_txt h1{
    font-size: 3.5vw;
    font-weight: 700;
    color: #77bf03;
    margin-bottom: 1vw;
}
.main .video_txt .bold{
    color: #fff;
}
/* 자세히보기 btn */
.main .video_txt .link2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1vw;
  
    color: #fff;
    position: relative;
    margin-left: 1vw;
}
.main .btn .link2 .link_txt{
    display: inline-block;
 
    padding-right: 1vw;
    background: url(./images/vector_white.png) no-repeat 100% 50%;
    background-size: 0.4vw;
    line-height: 2.5vw;

    position: relative;
}
.main .btn .link2::before{
    content: '';
    position: absolute;
    left: -18%;
   
    width: 2.5vw;
    height:  2.5vw;
    border-radius: 1.25vw;
    background-color: #4D750D;
    /* -webkit-transition: width 0.3s; */
    transition: width 0.3s;
}
.main .btn .link2:hover::before{
    width: 140%;
}
/* 소고기쌀국수 사진 */
.main .main_img{
    width: 35vw;
    position:absolute;
    top: 27%;
    left: 45%;
}


/***** section1 소개 3가지 부분 *****/

/*** 이미지사이즈 ***/
.phomain .intro img{
    width: 24.3vw;
    height: 32.5vw;
}
.phomain .intro  .bottom .video{
    width: 32.3vw;
    height: 22.3vw;
}

/*** 텍스트+이미지 style ***/
.phomain{
    clear: both;
    width: 100%;
    height: 220vh;
    /* background-color: #ddd; */
}
.phomain .intro{
    width:78%;

    margin: 0 auto;
    padding-top: 10vh;
}
.phomain .intro .top{
    justify-content: space-between;
    align-items: flex-start;
}
.phomain .intro .middle{
    margin: 8vh 0;
    justify-content: space-between;
    align-items: flex-start;
}
.phomain .intro .bottom{
    justify-content: space-between;
    align-items: flex-start;
}

/* 텍스트박스 h1 이미지 */
.phomain .intro .box1 h1{
    background: url(./images/h1_1.png)no-repeat 50% / contain;
    width: 4vw;
    height: 12.5vw;
    text-indent: -9999px;
}

.phomain .intro .box2 h1{
    background: url(./images/h1_2.png)no-repeat 50% / contain;
    width: 4vw;
    height: 12.5vw;
    text-indent: -9999px;
}
.phomain .intro .box3 h1{
    background: url(./images/h1_3.png)no-repeat 50% / contain;
    width: 4vw;
    height: 12.5vw;
    text-indent: -9999px;
}

/* 텍스트박스의 설명부분 */
.phomain .intro .box-left1{
    width: 48%;
    margin-left: 1vw;
}
.phomain .intro .box-left2{
    width: 48%;
    margin-left: 1vw;
}
.phomain .intro .box-right{
    text-align: right;
    margin-right: 1vw;
}
.phomain .intro .box .title{
    font-size: 1.3vw;
    font-weight: 600;
}
.phomain .intro .box .sub{
    margin: 1.3vw 0;
}

/* 아래 btn */
button {
    border-radius: 1.2vw;
    background-color: #4D750D;
    border: none;
    color: #fff;
    font-size: 0.8vw;
    text-align: center;
    padding: 0.8vw;
    width: 9vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0.7vw 0;
}
button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 0.88vw;
    right: -1vw;
    transition: 0.5s;
}
button:hover{
    padding-right: 1.5vw;
    padding-left:0.8vw;
}
button:hover:after {
    opacity: 1;
    right: 0.5vw;
}

/* 텍스트박스 위치조정 */
/* .phomain .intro .box1{
    margin-top: 8vw;
}
.phomain .intro .box2{
    margin-top: 8vw;
}
.phomain .intro .box3{
    margin-top: 8vw;
} */


/***** section2 좌우 스크립트 부분 *****/
.side_intro{
    width: 100%;
    height: 100vh;

    position: relative;
}
.side_intro .side_main{
    width: 100%;
}
/* 왼쪽 영역 */
.side_intro .side_left{
    background-color: #DAD6C5;
    width: 50%;
    height: 100vh;
    padding-left: 2.5vw;

    position: relative;

    transition: width 0.3s;
    overflow: hidden;
}
.side_intro .side_left h1{
    background: url(./images/page_txt1.png) no-repeat 50% / contain;
    width: 37vw;
    height: 18vw;
    text-indent: -9999px;
}
 .side_intro .side_left .left_img{
    width:50vw;
    position: absolute;
    transform: translate(48%, -31%)
}
/* 왼쪽 서브 텍스트 */
.side_main .side_left .left_txt {
    width: 49vw;
    position: absolute;
    bottom: 3%;
    left: 0;
 
    align-items: flex-end;
    padding-left: 3vw;
}
.side_main .side_left .left_txt h2{
    background: url(./images/h2_left.png) no-repeat 100% / contain;
    width: 5vw;
    height: 19vw;

    text-indent: -9999px;
}
.side_main .side_left .left_txt p{
    width: 39%;
    margin:0 0 0.5vw 1.5vw;
    font-size: 1.1vw;
}
/* 왼쪽 영역 hover  */
.side_intro .side_left:hover{
    width:150%;
}

/* 오른쪽 영역*/
.side_intro .side_right{
    background-color:#F6F5EF;

    width: 50%;
    height: 100vh;
    padding-right: 2.5vw;
    
    position: relative;
    
    transition: width 0.3s;
    overflow: hidden;
}
.side_intro .side_right h1{
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(./images/page_txt2.png) no-repeat -0% / contain;
    width: 41vw;
    height: 18vw;
    text-indent: -9999px;
}
.side_intro .side_right .right_img{
    width: 48.5vw;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-53%, 6.5%)
}
 /* 오른쪽 서브 텍스트  */
.side_main .side_right .right_txt {
    width: 50vw;
    /* margin-right: 3vw; */
}
.side_main .side_right .right_txt h2{
    position: absolute;
    top: 0;
    right: 0;
    transform:translate(-5%, 10%); 

    background: url(./images/h2_right.png) no-repeat 100% / contain;

    width: 5vw;
    height: 19vw;
    margin: 0 2vw;

    text-indent: -9999px;
}
.side_main .side_right .right_txt p{
    text-align: right;
    width: 18vw;

    margin: 0.5vw;
    font-size: 1.1vw;

    position: absolute;
    top: 0;
    right: 0;
    transform:translate(-35%, 40%); 
}
/* 오른쪽 영역 hover */
.side_main .side_right:hover{
    width: 150%;
}
/* 자세히보기 버튼 */
.side_intro .btn {
    cursor: pointer;
    display: inline-block;
    width: 9.5vw;
    height: 2.8vw;
    line-height: 2.8vw;
    text-align: center;
    
    border: 1px solid #4D750D;
    border-radius: 2vw;
    background-color: #4D750D;
    color: #fff;

    position: absolute;
    bottom: 10%;
    left: 45.5%;
    cursor: pointer;
    padding: 0 1vw 0 0;
}
.side_intro .btn::after {
    content: "";
    background: url(./images/vector_white.png) no-repeat 50% / contain;
    background-size: 0.3500vw;

    width: 2vw;
    height: 2vw;
    
    position: absolute;
    right: 5%;
    top: 13%;
}


/***** section3 사진 여러개 나눠진 부분 *****/
.img_intro{
    width: 100%;
    height: 130vh;
    margin-top: 7vh;
}
.img_intro .intro_box{
    padding-top: 7vh;
    width: 80%;

    float: right;
    overflow: hidden;
}
/* 상위 텍스트 */
.img_intro .intro_box .top_txt{
    width: 80%;
    font-size: 1vw;
    margin-bottom: 10vh;
    justify-content: space-between;
    align-items: flex-end;
}
.img_intro .intro_box .top_txt .bold{
   font-weight: 700;
}
.img_intro .intro_box .sns_line{
    border-top: 1px solid #878282;
    width: 35vw;
    text-indent: -9999px;
    margin: 0 1vw;
}
.img_intro .intro_box .sns li{
    margin-right: 1vw;
}
.img_intro .intro_box .sns li a svg:hover{
    fill: #333;
}

/* 이미지 영역 */
/* 첫번째 세로줄 */
.img_intro .intro_box .img_box li{
    margin-right: 2vw;
    justify-content: space-around;
    align-items: flex-start;
}
.img_intro .intro_box .img_box .list1{
    margin-top: 3.5vw;
}
.img_intro .intro_box .img_box .list1 img{
    width: 24.3vw;
    height: 29.4vw;
}
/* 자세히보기 btn */
.img_intro .intro_box .img_box .link2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1vw;
    margin-left: 1vw;
  
    position: relative;
}
.img_intro .intro_box .img_box .top{
    margin: 5vw 0 0 1vw;
}
.img_intro .intro_box .img_box .link_txt{
    display: inline-block;
 
    padding-right: 1vw;
    background: url(./images/vector_black.png) no-repeat 100% 50%;
    background-size: 0.4vw;
    line-height: 2.25vw;

    position: relative;
}
.img_intro .intro_box .img_box .link2::before{
    content: '';
    position: absolute;
    left: -19%;
   
    width: 2.5vw;
    height:  2.5vw;
    border-radius: 1.25vw;
    background-color: #4D750D;
    /* -webkit-transition: width 0.3s; */
    transition: width 0.3s;
}
.img_intro .intro_box .img_box .link2:hover::before{
    width: 140%;
}
/* 두번째 세로줄 */
.img_intro .intro_box .img_box .list2 img{
    width: 19.2vw;
    height: 23.25vw;
}
.img_intro .intro_box .img_box .list2 img:last-child{
    margin-top: 2vw;
}
/* 세번째 세로줄 */
.img_intro .intro_box .img_box .list3{
    margin-top: 3vw;
}
.img_intro .intro_box .img_box .list3 img:first-child{
    width: 19.2vw;
    height: 23.25vw;
}
.img_intro .intro_box .img_box .list3 img:last-child{
    margin-left: 2vw;
    margin-top: 3vw;
    width: 15vw;
    height: 15vw;
}
.img_intro .intro_box .img_box .list4 img{
    width: 19.2vw;
    height: 23.25vw;
}
.img_intro .intro_box .img_box .list4 img:last-child{
    margin-top: 2vw;
}


/***** 언론 기사 *****/
.news{
    width: 100%;
    height: 99vh;
    margin-top: 15vh;

    position: relative;
}
.news .notice-list{
    margin: 0 auto;
    width: 65%;
    /* height: 55vh; */
}
.news .notice-list h1{
    text-align: center;
    font-size: 3vw;
    font-family: 'Hahmlet-Regular';
    margin: 1vw 0;
}
.news .notice-list h1 .bold{
    font-weight: 800;
}
.news .notice-list .big_box{
    margin-top: 2vw;
}
.news .notice-list .news_box{
    height: 10vw;

    justify-content: space-between; 
    align-items: center;
  

    border-bottom: 1px solid #878282;
    padding: 0 1.5vw;
}
.big_box:hover .news_box:not(:hover) {
    opacity: 0.5; /* 마우스를 호버한 뉴스 박스를 제외한 다른 뉴스 박스들을 어두워지도록 설정 */
}
.news .notice-list .news_box:hover{
    border-bottom: 2px solid #77bf03;
}
.news .notice-list .news_box:first-child{
    border-top: 1px solid #000;
}
.news .date{
    text-align: center;
}
.news .date .day{
    font-size: 2.5vw;
    font-weight: 900;
}
.news .date .year{
    font-size: 1vw;
    font-weight: 500;
}
.news .news_txt .title{
    font-size: 1.1vw;
    font-weight: 600;
    margin-bottom: 0.5vw;
}
.news .news_txt .sub{
    width: 38vw; 
    overflow-x:hidden;
    display: block;
    white-space: nowrap;  
    text-overflow: ellipsis; 
}
.news .news_box img {
    width: 10vw;
    height: 5.6vw;
}  
/* 소식 더보기 btn */
.news .notice-list .btn{
    text-align: center;
    margin-top: 3.5vw;
}
.news .notice-list .link2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1vw;
 
    position: relative;
}
.news .notice-list  .link_txt{
    display: inline-block;
 
    padding-right: 1vw;
    background: url(./images/vector_black.png) no-repeat 100% 50%;
    background-size: 0.4vw;
    line-height: 2.5vw;

    position: relative;
}
.news .notice-list  .link2::before{
    content: '';
    position: absolute;
    left: -19%;
   
    width: 2.5vw;
    height:  2.5vw;
    border-radius: 1.25vw;
    background-color: #4D750D;
    /* -webkit-transition: width 0.3s; */
    transition: width 0.3s;
}
.news .notice-list  .link2:hover::before{
    width: 140%;
}
/* 박스로 영역 맞추기 */
.news .color_box{
    background-color: #DAD6C5;
    width: 13vw;
    height: 8vw;
    text-indent: -9999px;

    position: absolute;
    bottom: 0;
    left: 0;
}


/***** footer  *****/
footer{
    width: 100%;
    height: 40vh;
    background-color: #DAD6C5;
}
footer .info{
    margin: 0 auto;
    padding-top: 4vw;
    width: 74%;
}
footer .info .info_top{
    border-bottom: 1px solid #878282;
    padding-bottom: 5vh;
}
footer .info .menu li{
    margin-right: 2vw;
}
footer .info p{
    margin-top: 1vw;
    line-height: 1.6;
}
footer .info .info_bottom p{
    font-size: 1.1vw;
}
footer .info_bottom{
    justify-content: space-between;
    align-items: flex-end;
}
/* 포트폴리오 바로가기 btn */
footer .info .btn{
    text-align: center;
    margin-top: 2vw;
}
footer .info .link2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1vw;
 
    position: relative;
}
footer .info .link_txt{
    display: inline-block;
 
    padding-right: 1vw;
    background: url(./images/vector_black.png) no-repeat 100% 50%;
    background-size: 0.4vw;
    line-height: 2.5vw;

    position: relative;
}
footer .info .link2::before{
    content: '';
    position: absolute;
    left: -17%;
   
    width: 2.5vw;
    height:  2.5vw;
    border-radius: 1.25vw;
    background-color: #4D750D;
    /* -webkit-transition: width 0.3s; */
    transition: width 0.3s;
}
footer .info .link2:hover::before{
    width: 140%;
}