@charset "utf-8";
/* 폰트 pretendard */
@import url(../common/fonts.css);
/* index폰트 변수 */
@import url(../index/common.css);

body {
  background-color: #f2ede4;
  color: #333;
  font-family: var(--ko-font-pr);
}

/***** 공통 css *****/
.layout-wrapper {
  width: 80%;
  margin: 0px auto;

  padding: 20px;
}
.flex {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.line {
  border-bottom: 1px solid #929292;
}
.half-highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #4d6bff6a

  50%);
}

/***** header home_btn *****/
header {
  width: 100%;
}
header .home_btn {
  width: 5.35vw;
  text-transform: uppercase;
  font-weight: bold;

  position: absolute;
  right: 2%;
  top: 2%;
}
header .home_btn span {
  text-align: center;
  background-color: #4d6cff;
  color: #fff;
  height: 2.35vw;

  line-height: 2.35vw;
  display: block;
}
header .home_btn span a {
  display: block;
}
header .home_btn span:hover {
  background: transparent;
  color: #4d6cff;
  box-shadow: -7px -7px 20px 0px #2221, -4px -4px 5px 0px #2221,
    7px 7px 20px 0px #2221, 4px 4px 5px 0px #2221;
}
header .home_btn span:before,
header .home_btn span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;

  background-color: #4d6cff;
  transition: 400ms ease all;
}
header .home_btn span:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
header .home_btn span:hover:before,
header .home_btn span:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/***** main intro *****/
main {
  width: 100%;
  height: 80vh;
  color: #343434;
}
main .main_intro {
  margin-top: 10vw;
  justify-content: space-between;
  align-items: center;
}
main .main_intro h1 {
  font-size: 3vw;
  font-weight: 700;
}
main .main_intro h2 {
  font-size: 1.2vw;
  margin-top: 1vw;
}
main .main_intro h3 {
  margin-top: 7vw;
  font-size: 3vw;
  font-weight: bold;
  font-family: 'establish Retrosans';
}
main .main_intro p {
  font-size: 1vw;
  margin-top: 2vw;
  line-height: 2;
}
main .main_intro .main_intro_img img {
  margin-left: 1vw;
  width: 13.3vw;
  height: 26.3vw;
}

/***** overview  *****/
.overview {
  width: 100%;
  height: 110vh;
}
.overview .overview_intro {
  margin-top: 5vw;
}
.overview h1 {
  text-transform: capitalize;
  color: #4d6cff;
  font-weight: 800;
  font-size: 2.25vw;
  margin-bottom: 5vw;
}
.overview .overview_app {
  padding: 0 5vw;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10vw;
}
.overview .overview_app img {
  width: 8vw;
  height: 8vw;
}
.overview .overview_app .overview_txt {
  width: 52%;
}
.overview .overview_app .overview_txt h2 {
  font-size: 1.25vw;
  font-weight: bold;
}
.overview .overview_app .overview_txt h4 {
  font-size: 1.1vw;
  font-weight: bold;
  margin: 2vw 0;
}
.overview .overview_app .overview_txt p {
  font-size: 0.9vw;
  line-height: 1.4;
}
.overview .overview_intro .overview_main {
  padding: 0 5vw;
  justify-content: space-between;
  align-items: flex-start;
}
.overview .overview_main_img img {
  width: 9.3vw;
  height: 18.3vw;
  margin-right: 1vw;
}
.overview .overview_intro .overview_main .overview_main_txt {
  width: 52%;
}
.overview_main_txt h2 {
  font-size: 1.25vw;
  font-weight: bold;
  margin-bottom: 2vw;
}
.overview_main_txt ul {
  margin-left: 2vw;
}
.overview_main_txt ul li {
  list-style: disc;
  font-size: 0.9vw;
  line-height: 1.2;
  margin-bottom: 0.9vw;
}

/***** 진행과정 *****/
.process {
  width: 100%;
  height: 85vh;
}
.process .process_intro {
  margin-top: 5vw;
  justify-content: space-between;
  align-items: flex-start;
}
.process .process_intro h1 {
  color: #4d6cff;
  font-weight: 800;
  font-size: 2.25vw;
}
.process .process_intro .process_txt {
  width: 52%;
  font-size: 1vw;
}
.process .process_intro .process_txt .process_txt_top p {
  line-height: 2.5vw;
}
.process .process_intro .process_txt ul {
  margin-left: 2vw;
}
.process .process_intro .process_txt .process_txt_top ul li {
  line-height: 2vw;
}
.process .process_intro .process_work {
  margin-top: 5vw;
  justify-content: space-between;
  align-items: flex-start;
}
.process .process_intro .process_work h3 {
  font-weight: bold;
  font-size: 1.2vw;
}
.process .process_intro .process_work ul {
  width: 70%;
}
.process .process_intro .process_work ul li {
  margin-bottom: 1vw;
}

/***** swot *****/
.swot {
  width: 100%;
  height: 110vh;
}
.swot .swot_intro {
  margin-top: 5vw;
}
.swot .swot_intro h1 {
  text-transform: uppercase;
  color: #4d6cff;
  font-weight: 800;
  font-size: 2.25vw;
}
.swot .swot_intro .swot_box .swot_box_top {
  justify-content: space-around;
  align-items: flex-start;
  margin: 8vw 0;
}
.swot .swot_intro .swot_box .swot_box_bottom {
  justify-content: space-around;
  align-items: flex-start;
}
.swot .swot_intro .swot_box .txt_box {
  width: 25vw;
  height: 12vw;
  border-radius: 40px;

  box-shadow: 8px 6px 20px 2px rgba(77, 108, 255, 0.82);
}
.swot .swot_intro .swot_box .txt_box h1 {
  text-align: center;
  font-size: 2vw;
  color: #333;
  margin: 1.2vw 0;
  padding-top: 1vw;
}
.swot .swot_intro .swot_box .txt_box ul {
  width: 85%;
  margin: 0 auto;
  padding-left: 2.5vw;
  font-size: 0.8vw;
}
.swot .swot_intro .swot_box .txt_box ul li {
  text-align: left;
  list-style: disc;
  line-height: 1.2vw;
}

/***** ux vision  *****/
.vision {
  width: 100%;
  height: 70vh;
}
.vision .vision_intro {
  margin-top: 5vw;
}
.vision .vision_intro h1 {
  color: #4d6cff;
  font-weight: 800;
  font-size: 2.25vw;
  margin-bottom: 2vw;
}
.vision .vision_box {
  margin-top: 8vw;
  text-align: center;
}
.vision .vision_box p {
  margin: 30px auto;
  font-size: 1.2vw;
  width: 50%;
  height: 5vw;
  line-height: 5vw;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 4px 4px 10px 1px rgba(77, 108, 255, 0.82);
}

/***** 문제해결 *****/
.problem {
  width: 100%;
  height: 90vh;
}
.problem .problem_intro {
  margin-top: 5vw;
}
.problem .problem_intro h1 {
  text-transform: capitalize;
  color: #4d6cff;
  font-weight: 800;
  font-size: 2.25vw;
  margin-bottom: 2vw;
}
.problem .txt_box {
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10vw;
}
.problem .txt_box h2 {
  font-weight: bold;
  font-size: 1.8vw;
  padding-left: 3vw;
}
.problem .txt_box ul li {
  list-style: disc;
  line-height: 2.6;
}

/***** style guide *****/
.style {
  width: 100%;
  height: 80vh;
}
.style .style_intro {
  margin-top: 5vw;
}
.style .style_intro h1 {
  color: #4d6cff;
  font-weight: 800;
  font-size: 2.25vw;
  margin-bottom: 3vw;
}
.style .style_intro p {
  width: 56%;
  line-height: 1.4;
  margin-bottom: 1vw;
}
.style .style_intro p .bold {
  font-weight: bold;
  font-size: 1vw;
}
.style .style_txt {
  margin-top: 8vw;
  justify-content: space-between;
  align-items: flex-start;
}
.style .style_txt ul .bold {
  font-weight: bold;
  font-size: 1.5vw;
  margin-bottom: 50px;
}
.style .style_txt ul .txt_size {
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 1.4;
}
.style .style_txt .color_tag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1vw;
  margin-top: 1vw;
}

/***** prototype *****/
.prototype {
  width: 100%;
  height: 100%;
}
.prototype img {
  width: 14.249vw;
  height: 27.7vw;
}
.prototype .prototype_intro h1 {
  color: #4d6cff;
  font-weight: 800;
  font-size: 2.25vw;
  margin: 5vw 0;
}
.prototype .prototype_intro .prototype_index {
  padding: 0 5vw;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5vw;
}
.prototype .prototype_intro h2 {
  font-size: 1.4vw;
  font-weight: 800;
  margin-bottom: 1.5vw;
}
.prototype .prototype_intro p {
  font-size: 1vw;
  line-height: 1.4;
}
.prototype .prototype_intro .prototype_box {
  padding: 0 5vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vw;
}
.prototype .prototype_intro .prototype_box .txt_box p {
  margin-bottom: 3vw;
}
.prototype .prototype_intro .prototype_box:last-child img {
  width: 21.6vw;
  height: 26.25vw;
}

/***** review *****/
.review {
  width: 100%;
  height: 150vh;

  position: relative;
}
.review .review_intro {
  margin-top: 5vw;
}
.review .review_intro h1 {
  color: #4d6cff;
  font-weight: 800;
  font-size: 2.25vw;
  margin-bottom: 5vw;
}
.review .review_txt .review_box {
  margin-bottom: 5vw;
  padding: 0 5vw;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.review .review_txt .review_box h2 {
  font-size: 1.2vw;
  font-weight: 700;
}
.review .review_txt .review_box ul {
  width: 50%;
  margin-bottom: 3vw;
}
.review .review_txt .review_box ul li {
  list-style: disc;
  line-height: 2;
}
.review .review_txt .review_box:last-child ul li {
  list-style: none;
  margin-bottom: 2vw;
}

/***** footer 사이트보러가기 btn *****/
.review .footer_btn {
  width: 12vw;
  text-transform: uppercase;
  font-weight: bold;

  position: absolute;
  right: 38%;
  bottom: 12%;
}
.review .footer_btn span {
  text-align: center;
  background-color: #4d6cff;
  color: #fff;
  height: 2.35vw;

  line-height: 2.35vw;
  display: block;
}
.review .footer_btn span a {
  display: block;
}

.review .footer_btn span:hover {
  background: transparent;
  color: #4d6cff;
  box-shadow: -7px -7px 20px 0px #2221, -4px -4px 5px 0px #2221,
    7px 7px 20px 0px #2221, 4px 4px 5px 0px #2221;
}

.review .footer_btn span:before,
.review .footer_btn span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #4d6cff;
  transition: 400ms ease all;
}

.review .footer_btn span:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.review .footer_btn span:hover:before,
.review .footer_btn span:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
